.experience-card {
  background: var(--secondary-color);
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  margin: 1rem 0;

  h3 {
    font-size: 1.3rem;
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    flex-wrap: wrap;

    span {
      color: #6c63ff;
      font-weight: 600;
    }
  }

  .divider {
    width: 2px;
    background-color: var(--text);
    margin: 2px 4px; 
    border-radius: 4px;
    align-self: stretch;
  }

  .experience-link-icon {
    color: #6c63ff;
  }

  .experience-title {
    display: flex;
    align-items: center;
  }

  .experience-link {
    text-decoration: none;
    margin-left: 8px;
  }

  .project-link-icon {
    color: var(--text);
  }

  .period {
    font-size: 0.9rem;
    color: var(--text-neutral);
    margin-bottom: 1rem;
  }

  .description {
    margin-bottom: 1rem;
    color: var(--secondary-text);
    white-space: pre-line;
  }

  .project-list {
    list-style: none;
    padding: 0;
    margin: 0;

    .project-title {
      display: flex;
      align-items: center;
    }

    .project-item {
      margin-bottom: 1rem;

      strong {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1rem;
      }

      .tech-list {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;

        .tech-badge {
          background: var(--badge-background-color);
          color: var(--badge-text-color);
          padding: 0.3rem 0.7rem;
          border-radius: 8px;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
    }
  }
}
